# Diophantine reciprocals I
## Problem 108 

<div class="problem_content" role="problem">
<p>In the following equation <var>x</var>, <var>y</var>, and <var>n</var> are positive integers.</p>
<div style="text-align:center;">
<table align="center"><tr><td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;"><var>x</var></span></div></td>
<td> + </td>
<td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;"><var>y</var></span></div></td>
<td> = </td>
<td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;"><var>n</var></span></div></td>
</tr></table></div>
<p>For <var>n</var> = 4 there are exactly three distinct solutions:</p>
<div style="text-align:center;">
<table align="center"><tr><td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;">5</span></div></td>
<td> + </td>
<td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;">20</span></div></td>
<td> = </td>
<td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;">4</span></div></td>
</tr><tr><td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;">6</span></div></td>
<td> + </td>
<td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;">12</span></div></td>
<td> = </td>
<td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;">4</span></div></td>
</tr><tr><td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;">8</span></div></td>
<td> + </td>
<td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;">8</span></div></td>
<td> = </td>
<td><div style="text-align:center;">1<br/><span style="border-top:1px solid #000;">4</span></div></td>
</tr></table></div>
<p>What is the least value of <var>n</var> for which the number of distinct solutions exceeds one-thousand?</p>
<p class="note">NOTE: This problem is an easier version of <a href="problem=110">Problem 110</a>; it is strongly advised that you solve this one first.</p>
</div>

In [ ]:
def solve():
    # Your code here

## Solution

In [ ]:
solve()