# Investigating the primality of numbers of the form 2n2-1
## Problem 216 

<div class="problem_content" role="problem">
<p>Consider numbers <var>t</var>(<var>n</var>) of the form <var>t</var>(<var>n</var>) = 2<var>n</var><sup>2</sup>-1 with <var>n</var> &gt; 1.<br/>
The first such numbers are 7, 17, 31, 49, 71, 97, 127 and 161.<br/>
It turns out that only 49 = 7*7 and 161 = 7*23 are not prime.<br/>
For <var>n</var> &#8804; 10000 there are 2202 numbers <var>t</var>(<var>n</var>)  that are prime.</p>
<p>How many numbers <var>t</var>(<var>n</var>) are prime for <var>n</var> &#8804; 50,000,000 ?</p>
</div>

In [ ]:
def solve():
    # Your code here

## Solution

In [ ]:
solve()