# Look and say sequence
## Problem 419 

<div class="problem_content" role="problem">
<p>
The <b>look and say</b> sequence goes 1, 11, 21, 1211, 111221, 312211, 13112221, 1113213211, ...<br/>
The sequence starts with 1 and all other members are obtained by describing the previous member in terms of consecutive digits.<br/>
It helps to do this out loud:<br/>
1 is 'one one' &#8594; 11<br/>
11 is 'two ones' &#8594; 21<br/>
21 is 'one two and one one' &#8594; 1211 <br/>
1211 is 'one one, one two and two ones' &#8594; 111221<br/>
111221 is 'three ones, two twos and one one' &#8594; 312211<br/>
...
</p>
<p>
Define A(n), B(n) and C(n) as the number of ones, twos and threes in the n'th element of the sequence respectively.<br/>
One can verify that A(40) = 31254, B(40) = 20259 and C(40) = 11625.
</p>
<p>
Find A(n), B(n) and C(n) for n = 10<sup>12</sup>.<br/> 
Give your answer modulo 2<sup>30</sup> and separate your values for A, B and C by a comma.<br/> 
E.g. for n = 40 the answer would be 31254,20259,11625
</p>
</div>

In [ ]:
def solve():
    # Your code here

## Solution

In [ ]:
solve()